body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    margin: auto;
}

section {
    margin: 0 1rem;
    padding: 2rem;
    background: white;
    box-shadow: 4px 4px 0 #000;
    border: 1px solid #000;
}

#home {
   
}

#portfolio {
    margin: 1rem;
    width: 700px;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
    margin-bottom: 0;
}

li {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

ul a {
    text-decoration: none;
    color: black;
}

p a {
    text-decoration: underline;
}

.centre {
    text-align: center;
}

a {
    color: black;
}

a:visited {
    color: black;
}

li img {
    height: 50px;
}

img {
    width: 100%;
}

#source {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 2rem;
}

@media only screen and (max-width: 800px) {
    section, #portfolio, #home {
        width: calc(100% - 4rem);
        padding: 1rem;
    }
}