body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #ADD8E6;
    color: #0A191F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    margin: auto;
}

section {
    margin: 0 1rem;
    padding: 3rem 5rem;
    background: white;
    /*box-shadow: 4px 4px 0 #000;*/
    /*border: 1px solid #000;*/
    /*border-radius: 1rem;*/
}

#home {
   text-align: center;
   text-wrap: balance;
}

#portfolio {
    margin: 1rem;
    width: 700px;
}

h1 {
    color: #0A191F;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 1em;
}

h2 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
    margin-bottom: 0;
    gap: 2rem;
}

ul a {
    text-decoration: none;
    color: #0A191F;
}

p a {
    text-decoration: underline;
}

.centre {
    text-align: center;
}

a {
    color: #0A191F;
    transition: color 0.2s ease;
}

a:visited {
    color: #0A191F;
}

a:hover{
    color: #225e71;
}

li img {
    height: 36px;
}

img {
    width: 100%;
}

#source {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 2rem;
}

@media only screen and (max-width: 800px) {
    section, #portfolio, #home {
        padding: 2rem;
    }

    h1{
        font-size: 2rem;
    }

    #source{
        padding-left: 1rem;
    }
}
